@*@model WebGentle.BookStore.Models.BookModel*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllBooks</title>
</head>
<body>
    <h1>All Book List</h1>

  <img src="~/lib/DSC_7532.JPG" alt="Girl in a jacket" width="500" height="600">

  <img src="~/MyStaticFiles/DSC_7322.JPG" alt="Girl in a jacket" width="500" height="600">
  
  <button>Click Me</button>



</body>
</html>
